<div class = "banner">
    <div class="center pull-right white-text" style="margin: 100px;">
        <h1>
            <b>Be Better Programmer</b>
        </h1>
        <h2>Practise.Compete.Get Hired.</h2>
        <button class="loginBtn loginBtn--facebook">
            Login with Facebook
        </button>

        <button class="loginBtn loginBtn--google">
            Login with Google
        </button>

    </div>
    <div class="clear">

    </div>
</div>
