<div >
    <div class="projectLogo">
        <h1>Test.Lo
        </h1>
    </div>
    <div class="navbar">
        <ul id="navbar_list">
            <li><%= link_to "Sign In" , new_user_session_path %></li>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <li>Contact</li>
        </ul>

    </div>

    <div style="clear: both;"></div>

    <div class="white-text center" style="margin-up: 100px;">
        <h1>
            <b>Be Better Programmer</b>
        </h1>
        <h2>Practise.Compete.Get Hired.</h2>
        <button class="loginBtn loginBtn--facebook">
            Login with Facebook
        </button>

        <button class="loginBtn loginBtn--google">
            Login with Google
        </button>

    </div>
</div>
