<div class="col-lg-5">
    Questions
   <%=  link_to "Add Question", new_question_path %>
    <%=render @selected_questions %>

</div>

<div class="modal" style="display:none;">
</div>

<div class="col-lg-5">
  Question  Bank
    <%=render @questions %>
</div>
