<div class="col-lg-5 white-text">
    Questions
   <%=  link_to "Add Question", new_test_question_path(params[:id]) %>
    <%=render @selected_questions %>

</div>

<div class="modal" style="display:none;">
</div>

<div class="col-lg-5 white-text">
  Question  Bank
    <%=render @questions %>
</div>
