<div class="page-header row">
    <h1 class="col-sm-11">Questions</h1>
    <div class="col-sm-1">
        <%=  link_to "Add Question", new_test_question_path(params[:id]), class: 'btn btn-success pull-right' %>
    </div>

    <div class="btn btn-default pull-left white-text">
        <%= link_to "Save",save_test_path(@test)%>
    </div>
</div>
<div class="row">
    <div class="col-sm-5 center ">
        <strong>Test Question</strong>
        <div id="test_question_list">
            <%=  render 'test_question', temp: @test_questions %>
        </div>
    </div>

    <div class="col-sm-5 center ">
        Question Bank
        <div id="question_bank_list">
            <%=render 'questions/question' %>
        </div>
    </div>
</div>
